.extra-small-icon a {
    font-size: 24px;
    width: 45px;
    height: 44px;
    line-height: 50px;
}

footer ul li a{
    color: black;
}

.footer-dark, .footer-dark a {
    color: black;
}
.social-icon-style-12 .light li a {
    color: #0000;
    display: inline-block;
}